.popup__button {
  background-color: black;
  border-radius: 2px;
  padding: 14px 124px;
  color: white;
  margin: 14px 36px 36px;
  max-width: 358px;
  box-sizing: border-box;
  transition: opacity ease-out 0.3s;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  width: 100%;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__button {
    max-width: 238px;
    margin: 17px 22px 0px;
    font-size: 14px;
    padding: 14px 100px;
  }
}

.popup__button:disabled {
  color: black;
  opacity: 0.2;
  border: 1px solid #000000;
  background-color: white;
  transition: none;
  cursor: not-allowed;
}

.popup__button:disabled:hover {
  opacity: 0.2;
}
