.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  display: inline-block;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

@media screen and (max-width: 985px) {
  .profile__name {
    font-size: 36px;
    text-align: center;
    display: inline;
    margin-right: 15px;
    max-width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .profile__name {
    font-size: 28px;
    margin-right: 5px;
    margin-top: 30px;
    max-width: 249px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 22px;
    margin-right: 10px;
    max-width: 224px;
  }
}