.header__credential-container_mobile {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 0;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .header__credential-container_mobile {
    width: 100%;

    transition: height 0.3s ease-out;
  }
}
.header__credential-container_mobile_active {
  height: 142px;
}
