.footer {
  margin: 67px auto 60px;
  max-width: 880px;
}


@media screen and (max-width: 985px) {
  .footer {
    max-width: 577px;
    margin: 62px auto 55px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 280px;
    margin: 55px auto 48px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 50px 19px 36px;
  }
}