.profile__edit-icon {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  transition: opacity ease-out 0.3s;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/profile__edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__edit-icon {
    width: 18px;
    height: 18px;
  }
}

