.auth__container {
  margin: 60px auto 80px;
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  max-width: 358px;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .auth__container {
    max-width: 282px;
  }
}
