.card__heart {
  width: 21px;
  height: 19px;
  transition: 0.3s opacity ease-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../../../images/card__heart.svg);
  background-size: cover;
}

.card__heart:hover {
  opacity: 0.5;
}
